# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/

# Virtual env
.venv/
venv/
ENV/

# Flask
instance/

# SQLite
*.db

# Uploads
app/uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
